footer {
	display: block;
	width: 100%;
	background-color: #f0f0f0;
	color: #000;
	padding: 40px 0px;
}

.left {
	float: left;
	font:400 14px "Playfair Display";
	padding-right: 10px;
	margin-right: 7px;
}

.right p { 
  display: inline-block;
	float: right;
	font: 400 14px "Playfair Display";
	color: #000;
	padding-right: 12px;
}

.right img {
	display: inline-block;
	float: right;
	width: 20px;
	height: auto;
	margin: 0 10px;
	padding: 3px 2px;
}	
